* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 25px;
}

body::before {
    content: "";
    position: absolute;

    width: 6px;
    height: var(--line-height, 0px);

    background: #2aa4c8;

    left: 50%;
    transform: translateX(-50%);

    top: var(--line-start, 0px);

    z-index: 0;
}

body {
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    min-height: 100vh;
    background: #FFF8F6DE;

    background-image:
        linear-gradient(#ccc 1px, transparent 1px),
        linear-gradient(90deg, #ccc 1px, transparent 1px);
    background-size: 40px 40px;

    overflow-x: hidden;
}


.logo {
    display: flex;
    width: 100%;
}

.logo img {
    width: 100%;
}

.header {
    background: #FFF8F6DE;
    padding: 20px 60px;
    color: #efe6d8;
}

.nav {
    display: flex;
    justify-content: left;

    align-items: center;
}

.nav a {
    font-family: Krona One;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    color: #FFFFFF;
    border: 2px solid #000000;
}


.a-timeline,
.a-quiz,
.a-sobre {
    border-top: 2px solid #1A1A1A;
    border-radius: 8px;
    padding: 10px;
}

.a-timeline {
    background-color: #10A5DA;
}

.a-quiz {
    background: #EB8EC7;

}

.a-sobre {
    background: #F4C682;

}

.titulo-semana {
    padding-top: 3.5vh;
    display: grid;
    place-items: center;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}

.titulo-semana img {
    width: 269.80413818359375px;
}

.timeline-item {
    position: relative;
    padding: 120px 20px;
}

.timeline-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
    gap: 40px;
}


.timeline-center {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    max-width: 551px;
    border-radius: 8px;
    border: 2px solid #1A1A1A;
    opacity: 1;
    background-color: #10A5DA4F;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;

    box-shadow:
        4px 4px 0px #000,
        0 8px 20px rgba(0, 0, 0, 0.15);

    transition: all 0.3s ease;
}

.card:hover {
    transform: translate(-2px, -2px);
    box-shadow:
        6px 6px 0px #000,
        0 12px 25px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: clamp(1.2rem, 3vw, 2rem);
    margin-bottom: 20px;
    color: #10A5DA;
    font-family: 'Squada One';
}


.card p {
    font-size: clamp(0.52rem, 2vw, 0.72);
    text-align: justify;
    font-family: 'Krona One';
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    width: 503px;
}

.buttons button {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    font-weight: bold;
}

.fala {
    position: absolute;
    top: -20px;
    left: 50px;
    background: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

@media (max-width:900px) {

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .nav {
        flex-direction: column;
        gap: 20px;
    }

}

.wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    flex-basis: 100%;
}

.wave svg {
    display: block;
    width: 100%;
    height: 120px;
}